@import "../../variables/variables.scss";

.footer {
	position: absolute;
	bottom: 0;
	height: 30px;
	margin: auto;
	width: 100vw;
}

.footer__copyright {
	font-family: $noto-sans;
	position: absolute;
	font-size: small;
	font-weight: 300;
	opacity: 0.6;
	color: $text;
	margin: auto;
	width: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}
