@import "../../variables/variables.scss";

.page-content__container {
	max-height: calc(100vh - 250px);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	box-sizing: border-box;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
