@import "../../variables/variables.scss";

.pose__modal {
	max-width: 50vw;
	height: fit-content;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.pose__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.pose__image {
	margin-top: 20px;
	// border-radius: 150px;
	// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.pose__names {
	margin-bottom: 20px;
}
