@import "../../variables/variables.scss";

.page-content__container {
  margin-top: 0px;
}

.poses__library {
  margin-left: 300px;
  margin-right: 100px;
}

.poses__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.grid-item {
  border: 0;
  padding: 10px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.pose__button {
  border: 0px;
}

.side-bar {
  margin-top: 150px;
}
