@import "../../variables/variables.scss";

.poses__library {
  margin-left: 300px;
  margin-right: 100px;
  margin-top: 250px;
  height: calc(100vh - 250px);
  overflow: auto;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.alert-message {
  margin-left: 500px;
  color: #d90966;
  font-size: x-large;
  font-weight: bold;
}
.poses__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  overflow: auto;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.poses__library::-webkit-scrollbar {
  display: none;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 0;
  padding: 10px;
  height: 260px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.pose__button {
  border: 0px;
}
