@import "../../variables/variables.scss";

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  background-color: #e4e4e2;
}

.pose__container {
  display: flex;
  align-items: center;
  padding: 20px 135px;
  background-color: #f7e6e3;
  margin: 20px 200px;
  // border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pose-of-the-day {
  font-size: small;
  flex: 1;
  color: black;
  background-color: #f7e6e3;
  padding-right: 20px;
}

.pose__image {
  flex: 1;

  img {
    max-width: 300px;
    height: auto;
  }
}

.pose-description__container {
  margin: 20px 200px;
  color: black;
  text-align: justify;
  border-color: 1px solid #ebc789;
  // border-radius: 10px;
  padding: 20px;
  background-color: #f7e6e3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
