@import "../../variables/variables.scss";

.page-content__container {
	margin-top: 100px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: calc(100vh - 100px);

	overflow: hidden;
}

.pose__container {
	display: flex;
	align-items: center;
	padding: 20px 135px;
	margin-bottom: 50px;
	width: 80%;
	background-color: $background-dark;
	filter: drop-shadow($drop-shadow);
	border-radius: 10px;
}

.pose-of-the-day__alert-message {
	color: #d90966;
	font-size: x-large;
	font-weight: bold;
}

.pose-of-the-day {
	font-family: $cormorant-sc;
	font-size: small;
	flex: 1;
	color: $text;
	padding-right: 20px;
}

.pose__image {
	flex: 1;

	img {
		max-width: 200px;
		height: auto;
	}
}

.pose-description__container {
	font-family: $noto-sans;
	color: $text;
	text-align: justify;
	border-color: 1px solid #ebc789;
	border-radius: 10px;
	padding: 20px;
	width: 80%;
	background-color: $background-dark;
	filter: drop-shadow($drop-shadow);
	margin-bottom: 50px;
}
