@import "../../variables/variables.scss";

.poses__library {
	margin-left: 300px;
	margin-right: 100px;
	margin-top: 250px;
}

.alert-message {
	margin-left: 500px;
	color: #d90966;
	font-size: x-large;
	font-weight: bold;
}
.poses__container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
}

.grid-item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border: 0;
	padding: 10px;
}

.grid-item img {
	max-width: 100%;
	height: auto;
}

.pose__button {
	border: 0px;
}

.side-bar {
	margin-top: 150px;
}
