@import "../../variables/variables.scss";

.poses-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}

.grid-item {
  border: 0;
  padding: 10px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.pose-button {
  border: 0px;
}
