@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;700&display=swap");

// COLOURS

$background: #e4e4e2;
$light-text: #f7e6e3;
$dark-text: #474844;
$accent-one: #e09592;
$accent-two: #bfae4a;

// FONTS
$noto-sans: "Noto Sans", sans-serif;

// BUTTONS

// WEIGHTS
