@import "../../variables/variables.scss";

.page-content__container {
	display: flex;
	flex-direction: column;
	margin-top: 250px;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding-right: 100px;
	padding-left: 100px;
}

.title-text {
	font-family: $cormorant-sc;
	color: $text;
	font-size: 50px;
	margin-bottom: 75px;
}
