@import "../../variables/variables.scss";

.page-content__container {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
  margin-right: 100px;
  margin-bottom: 200px;
  height: calc(100vh - 175px);
  overflow: hidden;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.title-text {
  font-family: $cormorant-sc;
  color: $text;
  font-size: 30px;
  margin-bottom: 0px;
}
