@import "../../variables/variables.scss";

.poses__container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;

	padding: 10px;

	overflow: auto;
	height: auto;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
