@import "../../variables/variables.scss";

.dropdown {
	position: relative;
	display: flex;
}

.dropdown--hamburger-icon {
	width: 30px;
	height: auto;
	box-shadow: none;
	border-style: none;
}

ul {
	position: absolute;
	right: 10px;
	top: 40px;
	width: auto;
	align-items: right;
	background-color: $white;
	border-radius: 10%;
	padding: 30px;
}

.dropdown--content {
	position: absolute;
	width: 100%;
	justify-content: left;
}

.dropdown--content__item {
	list-style-type: none;
}

.dropdown--content__item a {
	color: $dark-text;
	width: max-content;
	&:hover {
		color: $accent-one-dark;
		transition: 300ms;
	}
}
