@import "../../variables/variables.scss";

.sidebar-container {
  background-color: $background;
  margin-top: -75px;
  margin-left: 2 0px;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0;
}

.search-bar {
  margin-top: 40px;
}

.search-input {
  width: 10rem;
}

.search-button {
  margin-top: 10px;
}

.sidebar-title {
  margin-top: 20px;
  font-weight: bolder;
}

.sidebar-link {
  text-decoration: none;
}
