@import "../../variables/variables.scss";

.navbar-container {
  overflow: visible;
  position: fixed;
  background-color: $background;
  top: 0;
  width: 100%;
  font-family: $noto-sans;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;

  .navbar-left {
    flex: 1;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    display: inline-block;
    box-shadow: none;
    border-style: none;
    color: black;

    img {
      width: 175px;
      height: auto;
    }
  }
  .poses-library__link {
    margin-right: 20px;
    padding: 5px 20px;
    background-image: linear-gradient(
      to right,
      rgba(224, 149, 146, 1),
      rgba(247, 230, 227, 1)
    );
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
      transition: 300ms;
    }
  }
}
