@import "../../variables/variables.scss";

.navbar-container {
  background-color: $background;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: $noto-sans;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;
  z-index: 1;

  .navbar-left {
    flex: 1;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    display: inline-block;
    box-shadow: none;
    border-style: none;
    color: black;

    img {
      width: 300px;
      height: auto;
    }
  }
  .poses-library__link {
    margin-right: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    &:hover {
      background-color: #d1e1a4;
      transition: 300ms;
    }
  }
}
