@import "../variables/variables.scss";

.navbar-container {
	font-family: $noto-sans;
	font-size: 50px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	box-shadow: none;
	a {
		background-image: url("../../public/assets/logo-pink.png");
		display: inline-block;
		box-shadow: none;
		border-style: none;
		.navbar-container--logo__link {
			color: $white;
		}
	}
	img {
		width: 200px;
		height: 200px;
		box-shadow: none;
		color: $white;
		border-style: none;
	}
}
