@import "../variables/variables.scss";

.navbar-container {
	font-family: $noto-sans;
	font-size: 50px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: none;
	a {
		display: inline-block;
		box-shadow: none;
		border-style: none;
	}
	img {
		width: 250px;
		height: 250px;
		box-shadow: none;
		color: $white;
		border-style: none;
	}
}
