@import "../variables/variables.scss";

.navbar-container {
	font-family: $noto-sans;
	font-size: 50px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	a {
		// width: 100px;
		// height: 100px;
		background-image: url("../../public/assets/logo-pink.png");
		display: inline-block;
	}
	img {
		width: 200px;
		height: 200px;
	}
}
